<form action="/shorturl" method="post">
  <div class="shortBlock">
    <div class="form-group">
      <input type="text" placeholder="Input URL here" name="webUrl">
    </div>
    <div class="form-group"> 
      <button class="btn btn-outline-primary" style="width:50%">Shorten</button>  
    </div>
  </div>
</form>
