<div class="successBlock">
  <h3>Success! Please use this link :</h3>
    <a href="/{{shorturls.shorten}}">localhost:3000/{{shorturls.shorten}}</a>
  <div class="form-group"> 
    <button class="btn btn-primary" style="width:20%">Copy</button>  
  </div>
</div>
